body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.header-settings {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100px;
	width: 100%;
	background-color: black;
	color: #2196f3;
	margin-top: 0px;
	margin-bottom: 2%;
	text-align: center;
}

.centering {
	text-align: center;
}

.centering-check-box {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.offset {
	margin: 0 auto;
}

.offset-complete-icon {
	margin-right: 1%;
}

.complete {
	color: lightgreen;
}

.complete:hover {
	color: #c0f3c0;
}

.delete {
	color: red;
	background-color: white;
}

.delete:hover {
	color: #e38e8e;
}

.resize {
	width: 80%;
}

.resize-container {
	text-align: center;
	width: 20%;
	z-index: 50;
	background-color: white;
	height: 100%;
	border-top-right-radius: .25rem;
	border-top-left-radius: .25rem;
}

.resize-container:hover {
	cursor: pointer;
}
	
@media only screen and (max-width: 500px) {
	#root {
		padding: 3%;
	}
	header > h1 {
		font-size: 1.5em;
	}
}  

/*CSS hack for Safari in case we need it later*/
@supports (-webkit-appearance:none) {
}

/* IE10+ CSS styles go here */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	label {
		margin-bottom: 0px;
	}

	.header-settings {
		min-height: 0px;
		height: 100px;
	}

	.delete {
		background-color: transparent;
	}
}